*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    overflow: visible;
    font-size: 100%;
}


#canvas1{
    position: absolute;
    top:0; 
    left:0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#3b83bd, #25415a);
    z-index: 1;

}



#cuadro {
    position: fixed;
    left:10%;
    top:10%;
    background-color: #131a21;
    width: 80%;
    z-index: 2;
    text-align: center;
    color: #bdbdbd;
    box-shadow: 0 0 5px 5px #131a21;
    padding: 1rem;
    overflow:auto;
}

#titulo{
    width: 90%;
    opacity: 0.9;
    padding-bottom: 3rem;
    margin-top: 2rem;

}

#dev{
    width: 50%;
    padding-bottom: 3rem;
}

.dev{
    color: #bdbdbd;
    text-decoration: none;
}

.dev:hover{
    color:#3b83bd;
}

h1 {
    font-size: 100%;
    width: 50%;
    padding-bottom: 2rem;
}

h2{
    color: #bdbdbd;
    font-size: 80%;
}


footer {
    width: 100%;
    position: fixed;
    bottom:2%;
    text-align: center;
}

#pie{
    color: #131a21;
    font-size: 200%;
    z-index: 3;
}

.icon{
    color:#131a21;
    margin:0.5rem;
}

.icon:hover{
    color: #eeab1aea;
}

.icon2{
    color: #bdbdbd; 
}

.icon2:hover{
    color: #eeab1aea;
}

#musica{
    color: #3b83bd;
    font-size: 150%;
    visibility: hidden;
}

#musica:hover{
    color:#eeab1aea;
}